@use '@style/style.scss';

.value{
  display: flex;
  align-items: center;
  gap: 12px;
  @include style.drop-shadow;
  font-weight: 500;
}
.icon{
  width: 30px;
  height: 30px;
  background-image: url("./img/filter.svg");
}
.options{
  //z-index: 2;
  background-color: white;
  cursor: default;
}