@use '@style/style';
.Filter{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 27px 52px;
  @include style.drop-shadow;
  @media(max-width: 1023px){
    display: none;
  }
}
.icon{
  width: 30px;
  height: 30px;
  background-image: url("./img/filter.svg");
}