@use 'style/style.scss';

.Input{
  border: 0;
  padding: 26px 30px;
  @include style.drop-shadow;
  @media(max-width: 1023px){
    padding: 14px;
  }
  @media(max-width: 375px){
    //fixme https://github.com/BlackRule/ktsstudio__frontend-hw-2/issues/2
    max-width: 181px;
  }
  @media(max-width: 320px){
    //fixme https://github.com/BlackRule/ktsstudio__frontend-hw-2/issues/2
    max-width: 126px;
  }
}

.Input:focus{
  outline: 1px solid #{style.$color-primary};
}