.MultiDropdown{
    min-width: 120px;
    min-height: 30px;
    background-color: antiquewhite;
}
.value{
    min-width: 100px;
    min-height: 25px;
    background-color: aliceblue;
}
.optionsParent{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
}
.option{
    min-width: 100px;
    min-height: 25px;
    background-color: azure;
}
.selected{
    background-color: yellow;
}
