@use '@style/style.scss';

.Products{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products{
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 20px;
  @media(max-width: 1023px){
    font-size: 26px;
  }
}
.p1{
  max-width: 600px;
  text-align: center;
  color: #{style.$color-gray};
  margin-bottom: 80px;
  font-size: 18px;
  @media(max-width: 1023px){
    font-size: 14px;
  }
}
.top-bar{
  display: flex;
  gap: 29px;
  @media(max-width: 495px){
    gap: 4px;
  }
  width: 100%;
}
.SearchBar{
  flex-grow: 1;
}
.total-product{
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin: 50px 0;
}
.total-product__txt{
  font-weight: 700;
  font-size: 44px;
  @media(max-width: 1023px){
    font-size: 18px;
  }
}
.total-product__count{
  padding: 5px 16px;
  background: #F9F9F9;
  border-radius: 20px;
  color: #{style.$color-primary};
  font-weight: 700;
}
.products-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 29px;
  margin-bottom: 80px;
  & a{
    text-decoration: none;
  }
  @media(max-width: 1023px){
    gap: 15px;
    margin-bottom: 42px;
  }
}